body {
  padding-top: 54px;
}

.navbar h4 {
    display: none;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
    
    .navbar h4 {
        display:inline;
    }
}



.navbar {
    background: white !important;
    border-bottom: #ddd 1px solid !important;
}