<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>10975 | login</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/logo-nav.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="css/brand-styles.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/index.html">
          <img src="/images/Logo/Raiders_shortcircuits_logo.jpg" width="40" height="40" alt="">
        </a>
        <h4 style="vertical-align: baseline; font-size: 1.3rem; margin-bottom: -8px;">Raiders Short-Circuits</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sponsors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Members</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- just to get things working, not final in the slightest -->
      
    {% if form.errors%}
    <p>Something you entered doesn't seem right</p>
    {% endif %}

    {% if next %}
    <p>You must login to access that page</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <p>Username: {{ form.username }}</p>
        <p>Password: {{ form.password }}</p>

        <input type="submit" name="sumbit" value="login">
        <input type="hidden" name="next" value="{{ next }}">

    </form>

    <footer class="container">
        <h6><i>Website is maintained by Toms River High School East Raiders Short-Circuits<br>
            Team 10975<br>
            contact us at: hseastrobotics@gmail.com</i></h6>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>