<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Team 10975 Raiders Short-Circuits</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- W3.css -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static 'short_circuits/index.css'%}" rel="stylesheet">
    <link href="{% static 'short_circuits/brand_styles'%}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <div class="w3-bar w3-large w3-light-blue w3-text-white" style="padding: 0 10px;">
      <img class="w3-bar-item" src="{% static 'short_circuits/East-robotics-Logo-Only_alpha.png' %}" height="60px">
      <a href="#" class="w3-bar-item w3-padding-16 w3-mobile w3-hide-small w3-right">Login</a>
      <a href="#" class="w3-bar-item w3-padding-16 w3-mobile w3-hide-small w3-right">Sponsors</a>
      <a href="#" class="w3-bar-item w3-padding-16 w3-mobile w3-hide-small w3-right">About</a>
      <a href="#" class="w3-bar-item w3-padding-16 w3-mobile w3-hide-small w3-right">Home</a>
      <a href="javascript:void(0)" class="w3-bar-item  w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
    </div>

    <div id="demo" class="w3-bar-block w3-light-blue w3-hide w3-hide-large w3-hide-medium">
      <a href="#" class="w3-bar-item w3-button w3-right">Home</a>
      <a href="#" class="w3-bar-item w3-button w3-right">About</a>
      <a href="#" class="w3-bar-item w3-button w3-right">Sponsors</a>
      <a href="#" class="w3-bar-item w3-button w3-right">Login</a>
    </div>


    <!-- just to get things working, not final in the slightest -->
      
    {% if form.errors%}
    <div class="w3-panel w3-pale-red w3-leftbar w3-border-red">
      <h2>Let's try that one again</h2>
      <p>Something that you entered doesn't seem quite right</p>
    </div>
    {% endif %}

    {% if next %}

    <div class="w3-panel w3-pale-red w3-leftbar w3-border-red">
      <h2>Woah there!</h2>
      <p>You have to log in before you can access that page!</p>
    </div>
    {% endif %}

    

    <div class="w3-container w3-center" style="height: 70vh; padding: 10%;">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <p>Username: {{ form.username }}</p>
        <p>Password: {{ form.password }}</p>

        <input type="submit" name="sumbit" value="login">
        <input type="hidden" name="next" value="{{ next }}">

      </form>
    </div>
    <footer class="container w3-footer">
        <h6><i>Website is maintained by Toms River High School East Raiders Short-Circuits<br>
            Team 10975<br>
            contact us at: hseastrobotics@gmail.com</i></h6>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- code for the responsive navbar. Open and closes navbar on mobile -->

    <script>
    function myFunction() {
      var x = document.getElementById("demo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
    </script>

  </body>

</html>