<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Team 10975 Raiders Short-Circuits</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- W3.css -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static 'short_circuits/index.css'%}" rel="stylesheet">
    <link href="{% static 'short_circuits/brand_styles'%}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    {% include './nav.html' %}

      
    <!-- Jumbotron -->
    <div id="jumbo-wrapper">
        <div class="jumbotron jumbotron-fliud" id="index-jumbotron">
         
        </div>
      
        <div class="container" >
            <h3 class="text-center" style="padding-top: 25vh;">Inspiring future engineers<br> through robotics</h3>
        </div>   
    </div>
      
    <!-- Page Content -->
    <div class="container" style="margin-top: 27vh;">
        <div class="container" id="index-about">
            <h4>Team 10975 is a high school robotics team from Toms River, New Jersey. We let students express their interest in engineering, business, and marketing through competition. </h4>
        </div>
        
        <hr>
        
        <div class="container">
            <h2>Worlds 2018</h2>
            <div class="row">
                <div class="col-12 col-lg-4">
                    
                </div>
                
                <div class="col-12 col-lg-4">
                    
                </div>
                
                <div class="col-12 col-lg-4">
                    
                </div>
            </div>
            
            <hr>
            
            <h2>Summer Camp 2018</h2>
            
            <h4 style="padding: 5% 20% 5% 20%;">We are holding a summer camp for students grades 7-10. The camp will take place august 6th through the 9th. Speeding up the FTC season to only 4 days, Students will take part in designing, building, programming ,and competing with their robot in a small competition.</h4>
            
            <input class="btn btn-primary" style="margin-bottom: 5%;" type="button" value="Learn More">
        </div>
    </div>
    <!-- /.container -->
      
    <footer class="container">
        <h6><i>Website is maintained by Toms River High School East Raiders Short-Circuits<br>
            Team 10975<br>
            contact us at: hseastrobotics@gmail.com</i></h6>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- code for the responsive navbar. Open and closes navbar on mobile -->

    <script>
    function myFunction() {
      var x = document.getElementById("demo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
    </script>

  </body>

</html>